.send_mails_dialog::backdrop {
  background: #00000080;
}

.send_mails_dialog {
  border-radius: 48px;
  border: none;
  padding: 0;
  overflow: unset;
}

.send_mails_form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
  background: #D9D9D9;
  border-radius: 40px;
}

.send_mails_title {
  margin: 0;
  color: #006C92;
}

.send_mails_users {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #BEBEBE;
  height: 7em;
  border-radius: 32px;
  padding: 24px 40px;
  margin: 0;
  font-size: 1.5em;
  color: #006C92;
  overflow: scroll;
}

.send_mails_user {
  text-align: left;
  margin: 0;
}

.send_mails_buttons {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.send_mails_button {
  font-size: 1.25em;
  padding: 16px 32px;
  border: none;
  outline: none;
  border-radius: 1000px;
  color: white;
}

.send_mails_cancel {
  background: #FF3535;
}

.send_mails_confirm {
  background: #006C92;
}