.entreprises {
    width: 338px;
    background-color: #d9d9d9;
    height: 474px;
    top: 246px;
    left: 46px;
    border-radius: 52px;
    display: flex;
    justify-content: center;
    border: solid #e3e3e3 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 10px;
  }
  #form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: "Kanit", sans-serif;
    font-size: 24px;
    line-height: 35.88px;
    color: #006c92;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .entreprise-title {
    font-family: "Kanit", sans-serif;
    font-size: 32px;
    line-height: 47.84px;
    color: #006c92;
  }
  .button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border: none !important;
    padding: 15px;
  }
  #supprimer {
    color: white;
    background-color: #ff3535;
    border-radius: 43px;
    width: 116px;
    height: 44px;
    top: 648px;
    left: 73px;
    border: none;
    font-size: 20px;
  }
  #terminer {
    color: white;
    background-color: #006c92;
    border-radius: 43px;
    width: 116px;
    height: 44px;
    top: 648px;
    left: 241px;
    border: none;
    font-size: 20px;
  }
  .retour {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #006c92;
  }
  #retour-icon {
    width: 133px;
    height: 35px;
    color: white;
    background-color: #006c92;
    z-index: 1000;
    border-radius: 35px;
    top: 205px;
    left: 69px;
  }
  .retour #retour-icon {
    margin-right: 10px;
  }
  input {
    background-color: #eeeeee;
    width: 141px;
    /* left: 225px; */
    height: 31px;
    border-radius: 33px;
    border: none;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    color: #006c92;
    font-family: "Kanit", sans-serif;
  }
  #checkbox {
    width: 15px;
    height: 15px;
  }
  
  .cardEntreprise {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .formulaire {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }
  .formulaireContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .entreprise-title {
    margin: 0;
  }
  input::placeholder {
    display: flex;
    color: #006c92;
    font-family: "Kanit", sans-serif;
  }